# 忽略 third_party 目录
third_party/

# 忽略其他不需要版本控制的文件
build/
bin/
a.out
hello
.vscode/

# 编译生成的文件
*.o
*.a
*.so
*.out

# CMake 生成的文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# 临时文件
*~
*.tmp
*.swp